{% extends "base.html" %}
{% block content %}
  <div class="album-list">
  {% for alb in album.albums %}
    <div class="menu-img thumbnail">
      <a href="{{ alb.url }}">
        <img src="{{ alb.thumbnail }}" class="album_thumb"
             alt="{{ alb.title }}" title="{{ alb.title }}" /></a>
      <span class="album_title">{{ alb.title }}</span>
    </div>
  {% endfor %}
  </div>

  <span style="margin-left:10px;"> <a href="https://raw.githubusercontent.com/khlsvr/satkukatalogi/master/misc/100ivlist_release_order"> 100iv-lista julkaisu pvm mukaan tekstimuodossa </a> </span> <br>
  <span style="margin-left:10px;"> <a href="https://raw.githubusercontent.com/khlsvr/satkukatalogi/master/misc/100ivlist_missing"> puuttuvat tekstimuodossa </a> </span>


{% endblock %}
